<!DOCTYPE html>
<html>
  <body>
    <ng-template *ngIf="uistate=='grades'">
      <h1>Oceny</h1>
      <app-grades></app-grades>
    </ng-template>>
    <ng-template *ngIf="uistate=='homework'">
      <h1>Zadania domowe</h1>
      <app-homework></app-homework>
    </ng-template>>
    <ng-template *ngIf="uistate=='tests'">
      <h1>Sprawdziany</h1>
      <app-tests></app-tests>
    </ng-template>
    <ng-template *ngIf="uistate=='plan'">
      <h1>Plan lekcji</h1>
      <app-plan></app-plan>
    </ng-template>
    <ng-template *ngIf="uistate=='attendance'">
      <h1>Frekwencja</h1>
      <app-attendance></app-attendance>
    </ng-template>
  </body>
</html>
