<!DOCTYPE html>
<html>
  <head>
    <title>Działający dziennik</title>
  </head>
  <body>
    <router-outlet>
    <div *ngIf="isLoggedIn() else elseBlock">
      <mat-toolbar color="primary"><button mat-icon-button (click)="drawer.toggle()" aria-label="Menu"><mat-icon>menu</mat-icon></button>Działający dziennik<span class="spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu"><mat-icon>person</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item><mat-icon>book</mat-icon>Uczeń</button>
          <button mat-menu-item><mat-icon>person_outline</mat-icon>Profil</button>
          <button mat-menu-item><mat-icon>settings</mat-icon>Ustawienia</button>
        </mat-menu>
      </mat-toolbar>


      <!--The drawer list at the left-->
      <mat-drawer-container class="sidenav-drawer" style="height:90vh">

        <mat-drawer [opened]="true" #drawer [mode]="'side'" >
          <mat-list role="list">
            <mat-list-item><button (click)="drawerState='grades'" [matBadge]="gradeBadge" mat-flat-button role="listitem">Oceny</button></mat-list-item>
            <mat-list-item><button (click)="drawerState='homework'" [matBadge]="hwBadge" mat-flat-button role="listitem">Zadania domowe</button></mat-list-item>
            <mat-list-item><button (click)="drawerState='tests'" [matBadge]="testsBadge" mat-flat-button role="listitem">Sprawdziany</button></mat-list-item>
            <mat-list-item><button (click)="drawerState='plan'" [matBadge]="planBadge" mat-flat-button role="listitem">Plan lekcji</button></mat-list-item>
            <mat-list-item><button (click)="drawerState='attendance'" [matBadge]="attendanceBadge" mat-flat-button role="listitem">Frekwencja</button></mat-list-item>
          </mat-list>
        </mat-drawer>
        <mat-drawer-content style="height:80vh">
          <ng-template *ngIf="true else teacherMode"><app-student-drawer></app-student-drawer></ng-template>
          <ng-template #teacherMode><app-teacher-drawer></app-teacher-drawer></ng-template>
        </mat-drawer-content>

      </mat-drawer-container>
    </div>

    <!--The user is not logged in.-->
    <ng-template #elseBlock>
      <mat-toolbar color="primary">Działający dziennik<span class="spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu"><mat-icon>person</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item disabled="true" aria-label="Menu użytkownika">Nie zalogowany</button>
        </mat-menu>
      </mat-toolbar>
      <dialog-loginpage></dialog-loginpage>
    </ng-template>
    </router-outlet>
  </body>
</html>

