.badge
{
  border-style: solid;
  border-radius: 10px;
  border-color:black;
  width: 5mm;
  height: 6mm;
  text-align: center;
}
.extendedBadge
{
  border-style: solid;
  border-radius: 10px;
  border-color:black;
  width: 7mm;
  height: 6mm;
  text-align: center;

}
.gradeList
{
  display: flex;
}

.gradeCard
{
  width: 80px;
}
.gradesParent
{
  display: inline-flex;
}
.subjectName
{
  margin-bottom:10px;
  margin-top:10px;
}
