<mat-tab-group class="tabs">
  <mat-tab label="Lista ocen">
    <mat-list class="subjectList">
      <br><br>
      <div *ngFor="let subject of subjects">
        <mat-list-item role="listitem">
          <div>
          <h2 class="subjectName">{{subject.displayName}}</h2>
          <mat-list class="gradeList">
            <div *ngFor="let grade of sortBySubject(grades, subject)">
              <mat-list-item role="listitem">
                <div *ngIf="grade.value.includes('-') || grade.value.includes('+'); else normalBadge">
                  <div [ngStyle]="{'background-color':grade.color}" class="extendedBadge gradeBadge">{{grade.value}}</div>
                </div>
              <ng-template #normalBadge>
                <div *ngIf="grade.value=='1'||grade.value=='2'||grade.value=='3'; else noEasterEgg">
                  <div [ngStyle]="{'background-color':grade.color}" class="badge gradeBadge" (click)="easterEgg()">{{grade.value}}</div>
                </div>
                <ng-template #noEasterEgg>
                  <div [ngStyle]="{'background-color':grade.color}" class="badge gradeBadge">{{grade.value}}</div>
                </ng-template>
              </ng-template>
            </mat-list-item>

            </div>

          </mat-list>
        </div>
      </mat-list-item>
      <br><br><hr><br><br>
      </div>
    </mat-list>

  </mat-tab>
  <mat-tab label="Oceny szczegółowo">
      <div *ngFor="let subject of subjects">
        <br>
        <h1>&nbsp;{{subject.displayName}}</h1>
        <div *ngFor="let grade of sortBySubject(grades, subject)" class="gradesParent">
          <mat-card class="gradeCard" [ngStyle]="{'background-color':grade.color}">
            <p>Ocena: {{grade.value}}</p>
            <p>Waga: {{grade.weight}}</p>
            <p>Wystawiono: {{grade.createdDate.toLocaleString()}}</p></mat-card>
            <br>
        </div>
      </div>
  </mat-tab>
</mat-tab-group>
